.nav {
    text-align: center;
    margin-block-start: -1.5em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.errorMessage {
    background: var(--secondary-700);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
}
