.root {
    --max-width: 60ch;
    width: min(var(--max-width), 100% - 2rem);
    flex: 1;
    overflow: hidden;
    margin-inline: auto;
    background: var(--primary-500);
    padding: 1rem;
    margin-block: 2rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    &[data-large] {
        --max-width: 80ch;
    }

    &[data-overflow] {
        overflow: visible;
    }

    &[data-fit-content] {
        flex: unset;
    }
}
