.passwordContainer {
    position: relative;
}

.togglePasswordVisibilityButton {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;

    bottom: 0.2rem;
    right: 0;
}
