.button {
    background: var(--accent-500);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    font-size: 0.8rem;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 1rem;

    &:hover {
        background: var(--accent-400);
    }

    &:active {
        background: var(--accent-600);
    }
}
