:root {
    --text: hsl(145, 100%, 4%);
    --background: hsl(143, 100%, 97%);
    --primary: hsl(149, 98%, 53%);
    --secondary: hsl(323, 97%, 71%);
    --accent: hsl(23, 97%, 62%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
}

html,
body,
#root {
    height: 100%;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: system-ui;
}

img {
    display: block;
}
