.container {
    width: min(60ch, 100% - 2rem);
    margin-inline: auto;
    background: var(--primary-500);
    padding: 1rem;
    margin-block-start: 2rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    button {
        align-self: flex-start;
        padding: 0.5rem 1rem;    
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;     
    
        &:hover {
            background: darkgray;
        }
    }
    
    input {
        padding: 0.5rem;
        border: 1px solid var(--primary-700);
        border-radius: 4px;
        font-size: 1rem;
        width: 100%;
    }
    
    label {
        font-size: 1rem;
        font-weight: bold;    
    }
}
