.container{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border: 1px solid gray;
    width: 40vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
}

.status{
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;  
    color: hsl(0, 0%, 35%);  
}

.id{
    font-size: 0.75rem;  
    color: hsl(0, 0%, 35%);  
}